.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  > .title {
    margin-top: 160px;
  }

  > .form {
    > .input_image_area {
      padding-block: 40px;
      display: flex;
      align-items: center;
      gap: 20px;

      > .wrapper {
        width: 50vw;
        max-width: 180px;
        padding-block: 32px;
        padding-inline: 20px;
        border: 1px solid var(--gray);
        border-radius: 16px;
        background: var(--primary-yellow);
        cursor: pointer;

        > .label {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 8px;
          cursor: pointer;

          > .text {
            font-size: 14px;
          }
        }
      }
    }

    > .input_text_area {
    }
  }
}
