.container {
  width: 100%;

  > .title {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: bold;
  }
  .preview_wrapper {
    margin-block: 20px;

    > .image {
      width: auto;
      max-width: 100%;
      height: auto;
      max-height: 80dvh;
      object-fit: contain;
      border-radius: 8px;
    }

    > .clear_button {
      margin-top: 12px;
      background: var(--primary-blue);
      border: solid 1px var(--primary-blue);
      color: var(--white);
      padding: 8px 20px;
      border-radius: 8px;
      font-size: 16px;
      cursor: pointer;
    }
  }
}
