:root {
  /* Size */
  --page-padding: 30px;
  /* Color Scheme */
  --white: #ffffff;
  --black: #000000;
  --black-light: #252e32;
  --gray: #cac2c2;
  --gray-light: #f5ece9;
  --primary-blue: #9cc5f0;
  --primary-green: #caebc0;
  --primary-yellow: #f5deb3;
  --primary-cream: #fffff0;
  --primary-perple: #e6a5e6;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--black-light);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
